body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 8px; /* added 8px correct!*/
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  margin-top: 0px; /* added this line! this fixed the last thing*/
}

.content {
  background: #e3f4ff; /* correct solution displayed as margin-bottom 8px */
  margin-bottom: 8px; /* and the shortened form padding 16px 8px */
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-container { /* text-align center & padding 8px: correct!*/
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  display: block;
  align-self: center;
  margin: 0px auto; /* margin 0 auto CORRECT*/ /* padding 8px 24px correct also display:block correct!*/
}
/*
- There is 8px between the edge of the card and its content (the blue sections). C
- There is an 8px gap between each of the blue sections inside the card. C
- The content section has 16px space on the top and bottom, and 8px on either side.
- Everything inside the `.button-container` section is centered, and there is 8px padding.
- The Big Button is centered on its own line.
**/
